DATABASE_URL="postgresql://user:password@localhost:5432/database_name"
PORT=3000
BASE_URL="http://localhost:3000"
DEFAULT_LINK_TTL_DAYS=7
SQIDS_ALPHABET= "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"